ALTER TABLE public.user_companies ADD COLUMN IF NOT EXISTS has_sample_data BOOLEAN DEFAULT false; ALTER TABLE public.user_companies ADD COLUMN IF NOT EXISTS ai_credits INTEGER DEFAULT 0; CREATE TABLE IF NOT EXISTS public.tender_compliance_reports ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), tender_id UUID NOT NULL REFERENCES public.tenders(id) ON DELETE CASCADE, requirements JSONB NOT NULL, missing_documents JSONB NOT NULL, mandatory_checklist JSONB NOT NULL, created_at TIMESTAMPTZ DEFAULT now() );
